@model IEnumerable<Doctors_WebForum.Models.DoctorReg>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>
            Welcome to WebForum
        </h1>
        <h2>
            Empowering Patients, Enriching Lives
            Start Your Health Journey Now!
        </h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why Choose Doctors_WebForum?</h3>
                        <p>
                            Expertise: Access a diverse community of medical professionals, ensuring reliable and accurate information.
                            Empowerment: Take control of your health journey with valuable insights and resources.
                            Enrichment: Enhance your life by gaining valuable health-related knowledge and improving overall well-being.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Expertise</h4>
                                    <p>Access a diverse community of medical professionals, ensuring reliable and accurate information.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Empowerment</h4>
                                    <p>Take control of your health journey with valuable insights and resources.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Enrichment</h4>
                                    <p>Enhance your life by gaining valuable health-related knowledge and improving overall well-being.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <a href="https://www.youtube.com/watch?v=Fft5igeEIEM" class="glightbox play-btn mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>Join DoctorWeb Forum for a Thriving Health Community</h3>
                    <p>Welcome to DoctorWeb Forum, the vibrant online community dedicated to all things health-related. Whether you're a medical professional or an individual seeking reliable information and support, our forum is the ideal platform for you. Engage in knowledge sharing, connect with like-minded individuals, and access valuable insights from trusted experts. </p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Knowledge Sharing</a></h4>
                        <p class="description">DoctorWeb Forum provides a platform for medical professionals and individuals to share their knowledge, experiences, and insights.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Community Engagement</a></h4>
                        <p class="description">The forum fosters a sense of community by connecting individuals with similar health concerns or interests. </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Professional Guidance</a></h4>
                        <p class="description">DoctorWeb Forum allows users to connect with medical professionals, enabling them to seek trusted advice and guidance.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Doctors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Departments</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Research Labs</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    @*<section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4><a href="">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4><a href="">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4><a href="">Magni Dolores</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4><a href="">Nemo Enim</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-wheelchair"></i></div>
                        <h4><a href="">Dele cardo</a></h4>
                        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-notes-medical"></i></div>
                        <h4><a href="">Divera don</a></h4>
                        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>

            </div>

        </div>
    </section>*@<!-- End Services Section -->
    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
        <div class="container">

            <div class="section-title">
                <h2>Departments</h2>
                <p>DoctorWeb Forum is a dynamic and inclusive online platform designed to cater to all your health needs. Our forum is a thriving community where individuals can connect, share knowledge, and seek support on various health-related topics.</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurology</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pediatrics</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Hepatology</a>
                        </li>*@
                     @*   <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
                        </li>*@
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Cardiology</h3>
                                    <p class="fst-italic">Welcome to the Cardiology Department of DoctorWeb Forum, where heart health takes center stage.</p>
                                    <p>Join our community of cardiologists, heart patients, and individuals passionate about cardiovascular health. Engage in discussions on topics such as heart disease prevention, cardiac conditions, diagnostic procedures, treatment options, lifestyle modifications, and rehabilitation. Share your experiences, seek advice from experts, and stay informed about the latest research and advancements in the field of cardiology. Together, let's promote heart wellness and support each other on our cardiac health journeys.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Neurology</h3>
                                    <p class="fst-italic">Step into the Neurology Department of DoctorWeb Forum, dedicated to the intricate world of the brain and nervous system.</p>
                                    <p>Join our community of neurologists, patients, and individuals interested in neurological health. Engage in discussions covering a wide range of topics, including brain disorders, neurological conditions, treatment approaches, research advancements, and strategies for brain health and well-being. Share your insights, seek support, and gain valuable knowledge from experts in the field. Together, let's navigate the complexities of the brain and promote neurological wellness.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pediatrics</h3>
                                    <p class="fst-italic">Welcome to the Pediatrics Department of DoctorWeb Forum, where the well-being of children takes center stage.</p>
                                    <p>Join our community of parents, caregivers, pediatricians, and individuals passionate about children's health. Engage in discussions covering a broad range of topics, including child development, common childhood illnesses, vaccination schedules, parenting tips, and nurturing healthy habits. Share your experiences, seek advice from experts, and connect with a supportive network that understands the unique challenges and joys of raising children. Together, let's prioritize the health and happiness of our little ones.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        @*<div class="tab-pane" id="tab-4">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row gy-4">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Departments Section -->
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Doctors</h2>
                <p>A qualified doctor is a highly trained and skilled medical professional dedicated to providing exceptional healthcare services. With years of rigorous education, practical training, and continuous learning, they possess a deep understanding of human anatomy, physiology, and the diagnosis and treatment of various medical conditions.</p>
            </div>

            <div class="row">
                @foreach (var doc in Model)
                {

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/doctors-1.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>@Html.DisplayFor(modelItem => doc.DName)</h4>
                                <span>@Html.DisplayFor(modelItem => doc.DSpecializationNavigation.SName)</span>
                                <p>Hi, My Name is @Html.DisplayFor(modelItem => doc.DName) I Specialization @Html.DisplayFor(modelItem => doc.DSpecializationNavigation.SName)</p>
                                <span class="mb-2"></span>
                                <a asp-controller="" asp-action="Details" asp-route-id="@doc.DId" class="btn btn-primary">Details</a>

                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                </div>
                </div>
                </section>
                <!-- End Doctors Section -->
                <!-- ======= Frequently Asked Questions Section ======= -->
                <section id="faq" class="faq section-bg">
                    <div class="container">

                        <div class="section-title">
                            <h2>Frequently Asked Questions</h2>
                <p>Remember, the FAQ section is intended to provide general information. If you have specific concerns or questions, it's always best to consult a healthcare professional or contact the DoctorWeb Forum support team for further assistance.</p>
                        </div>

                        <div class="faq-list">
                            <ul>
                                <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is DoctorWeb Forum? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                        <p>
                                DoctorWeb Forum is an online platform dedicated to health-related discussions, knowledge sharing, and community engagement. It provides a space for individuals, medical professionals, and experts to connect, learn, and collaborate on various health topics.
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How can I join DoctorWeb Forum? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                        <p>
                                Joining DoctorWeb Forum is simple. Visit our website and sign up for an account. Once registered, you can explore different departments, participate in discussions, ask questions, and contribute your expertise to the community.
                                        </p>
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Is DoctorWeb Forum free to use?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                        <p>
                                Yes, DoctorWeb Forum is free to use. We believe in providing accessible health information and fostering a supportive community without any financial barriers.
                            </p>
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                            Are the medical professionals on DoctorWeb Forum qualified and trustworthy?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                        <p>
                                DoctorWeb Forum attracts a diverse community of medical professionals who are verified and have relevant qualifications and expertise in their respective fields. However, it's important to note that the advice and information provided on the forum should not replace a consultation with your own healthcare provider.

                            </p>
                                    </div>
                                </li>

                                <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
                            How can I ensure the privacy and security of my information on DoctorWeb Forum?
                            <<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                        <p>
                                DoctorWeb Forum takes privacy and security seriously. We have robust measures in place to protect user data and ensure a secure online environment. However, it's important to be cautious about sharing personal information and follow best practices for online privacy.

                            </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </section><!-- End Frequently Asked Questions Section -->
                <!-- ======= Testimonials Section ======= -->
                <section id="testimonials" class="testimonials">
                    <div class="container">

                        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                            <h3>Saul Goodman</h3>
                                            <h4>Ceo &amp; Founder</h4>
                                            <p>
                                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->

                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                            <h3>Sara Wilsson</h3>
                                            <h4>Designer</h4>
                                            <p>
                                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->

                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                            <h3>Jena Karlis</h3>
                                            <h4>Store Owner</h4>
                                            <p>
                                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->

                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                            <h3>Matt Brandon</h3>
                                            <h4>Freelancer</h4>
                                            <p>
                                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->

                                <div class="swiper-slide">
                                    <div class="testimonial-wrap">
                                        <div class="testimonial-item">
                                            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                            <h3>John Larson</h3>
                                            <h4>Entrepreneur</h4>
                                            <p>
                                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- End testimonial item -->

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </section><!-- End Testimonials Section -->
                <!-- ======= Gallery Section ======= -->
                <section id="gallery" class="gallery">
                    <div class="container">

                        <div class="section-title">
                            <h2>Gallery</h2>
                <p>The gallery is a visual delight, showcasing a diverse collection of captivating images that evoke emotions, inspire creativity, and tell stories. With each photograph, painting, or artwork, the gallery invites visitors into a world of colors, textures, and perspectives.</p>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row g-0">

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="gallery-item">
                                    <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                                        <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </section><!-- End Gallery Section -->


</main><!-- End #main -->
