@model Doctors_WebForum.Models.DoctorReg

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DoctorReg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DAchivement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DAchivement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DExperienceNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DExperienceNavigation.EId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPrivacyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPrivacyNavigation.PId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DQualificationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DQualificationNavigation.QId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DSpecializationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DSpecializationNavigation.SId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
